html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Patrick Hand", sans-serif;
}

header {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: linear-gradient(
        90deg, 
        rgba(6, 1, 96, 0.6) 0%, 
        rgba(9, 9, 121, 0.6) 27%, 
        rgba(24, 153, 180, 0.6) 78%, 
        rgba(37, 177, 113, 0.6) 100%
    );
    height: 68px;
}
.navbar p:first-child a {
    margin-left: 35px;
}
.navbar p:last-child a {
    margin-right: 70px;
}
.navbar p a {
    margin: 0;
    color: white;
    text-decoration: none;
    z-index: 2;
    margin: 0 35px;
    font-size: 20px;
    letter-spacing: 1px;
}
.navbar a:hover {
    opacity: 0.8;
}
.navbar .login {
    background-color: rgba(255, 255, 255, 0.3);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Lobster";
    background-color: rgba(255, 255, 255, 0.274);
    letter-spacing: 4px;
    font-size: 60px;
}

h2 {
    background-color: rgba(255, 255, 255, 0.274);
    height: 60px;
    font-size: 40px;
    font-family: "Dancing Script";
    text-align: center;
}

main {
    margin: 20px 20px;
}

a {
    display: inline-block; 
    transition: 0.25s;
}

.special-link {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(6, 1, 96) 0%, rgba(9,9,121,1) 27%, rgba(24,153,180,1) 78%, rgba(37,177,113,1) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.special-link:hover {
    transform: scale(1.03);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.grid-box{
    background-color: rgba(243, 218, 239, 0.164);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.grid h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50px; 
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}

.grid ul, ol {
    font-size: 20px;
    text-align: left; 
    align-self: flex-start; 
    padding-left: 30px;
}
.grid ul {
    list-style: circle;
}
.grid li  {
    padding-bottom: 5px;
}
.grid p {
    margin: 0;
    padding: 0;
}

/* GALLERY */

.gallery {
    padding: 50px 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto; 
    align-items: stretch;
    width: 100%;
    max-width: 1300px; 
    margin: auto;
}

.gallery img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gallery img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.a { grid-column: 1 / 3; grid-row: 1; } 
.b { grid-column: 3; grid-row: 1 / 3; } 
.c { grid-column: 1; grid-row: 2; } 
.d { grid-column: 2; grid-row: 2; } 
.e { grid-column: 4; grid-row: 1 / 3; } 

/* SALE SECTION */
.sales {
    margin: 20px 0px;
    padding: 50px 20px;
}

.sales h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.tour-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}
.tour{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.tour-image img {
    max-height: 420px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.tour-image {
    width: 50%;
}
.tour-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.tour-text {
    margin-bottom: 20px;
    max-width: 400px;
}
.tour-text h1 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.tour-text h2 {
    font-size: 20px;
}
.tour-price-btn {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.tour-price-btn p {
    height: 50px;
    margin: 0 0 0 38px;
    font-size: 28px;
    color: black;
}
  
.tour-price-btn button {
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background: linear-gradient(90deg, rgb(6, 1, 96) 0%, rgba(9,9,121,1) 27%, rgba(24,153,180,1) 78%, rgba(37,177,113,1) 100%);
    cursor: pointer;
    outline: none;
}

.tour-price-btn button:hover {
    opacity: 0.6;
}

/* FOOTER */
footer {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(243, 218, 239, 0.164);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    text-align: center; 
}

footer p {
    font-family: "Lobster";
    font-size: 20px;
    letter-spacing: 3px;
}

/* ICONS FROM https://prismic.io/blog/css-hover-effects number 16 */

footer ul {
    display: flex;
    position: relative;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
footer ul li {
    list-style: none;
  }
  
footer  ul li a {
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
footer  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
footer  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
footer  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
footer  ul li a:hover:before {
    top: 0;
  }
  
footer  ul li:nth-child(1) a:before{
    background: #3b59998f;
  }
  
footer  ul li:nth-child(2) a:before{
    background: #8c21be82;
  }
  
footer  ul li:nth-child(3) a:before {
    background: #e9050581;
  }
  
footer  ul li:nth-child(4) a:before {
    background: #dd4c397a;
  }