html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Winky Sans", sans-serif;
}

header {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.head-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    letter-spacing: 4px;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: "Dancing Script";
}

footer {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(243, 218, 239);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text inside */
}

footer p {
    font-size: 20px;
    letter-spacing: 3px;
}